<div class="container">
	<div class="jumbotron">
		<h1>
			<span ng-bind="assess.assessment.name"></span> <small ng-bind="assess.assessment.position.text"></small>
		</h1>
		<a class="btn btn-primary" ng-href="{{ assess.resumeUrl }}"><i class="fa fa-file-pdf-o"></i>&nbsp;Resume</a>
		<a class="btn btn-primary" ng-href="{{ assess.assessmentUrl }}"><i class="fa fa-file-archive-o"></i>&nbsp;Assessment Archive</a>
	</div>
	<p ng-bind="assess.assessment.notes"></p>
	<form>
		<table class="table">
			<thead>
				<tr>
					<th>
						Question
					</th>
					<th>
						Score
					</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="question in assess.questions">
					<td markdown="question.text"></td>
					<td>
						<div class="btn-group" data-toggle="buttons">
							<button ng-class="question.score == 0 ? 'btn-danger active': 'btn-default'" class="btn" ng-click="question.score = 0">
								Not Present <strong>0</strong>
							</button>
							<button ng-class="question.score == 1 ? 'btn-warning active': 'btn-default'" class="btn" ng-click="question.score = 1">
								Some Knowledge <strong>1</strong>
							</button>
							<button ng-class="question.score == 2 ? 'btn-success active': 'btn-default'" class="btn" ng-click="question.score = 2">
								Shows Proficiency <strong>2</strong>
							</button>
						</div>
						<div class="form-group">
							<textarea class="form-control" rows="3" placeholder="Comments"></textarea>
						</div>
					</td>
				</tr>
			<tr>
				<td>
					<button class="btn btn-success" ng-click="assess.save()" ng-disabled="assess.disableSave()"><i class="fa fa-save"></i>&nbsp;Submit</button>
				</td>
				<td>
					<div class="well well-lg">{{assess.totalScore() | number :1}}%</div>
				</td>
			</tr>
			</tbody>
		</table>
		
	</form>
</div>