<div class="container">
	<h1>Pending Assessments</h1>
	<table class="table table-striped table-hover">
		<thead>
		<tr>
			<th></th>
			<th>Name</th>
			<th>Date Submitted</th>
			<th>Date Due</th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="row in home.openAssessments">
			<td><a ui-sref="editCanidate({assessmentId: row.assessmentId})"><i class="fa fa-fw fa-pencil"></i></a></td>
			<td ng-bind="row.name"></td>
			<td ng-bind="row.dateSubmitted | date: 'MM/dd/yyyy'"></td>
			<td ng-bind="row.dateDue | date: 'MM/dd/yyyy'"></td>
		</tr>
		</tbody>
	</table>
</div>
